.ver{
height: 700px;
width: 1300px;
background-color:lavender;
margin-top:0px;
padding-top: 0px;
background-image:url("https://cdn-cms.pgimgs.com/static/2019/09/other-pay-sell-prop-mainimage.jpg");
background-repeat: no-repeat;
background-size: 1300px 700px;
}

.is{
width:70px;
}


        
    
     